.lockedCont{
  float: right;
  font-size: 25px;
  margin-right: 20px;
  color: gray;
  height: 0;
  bottom: 44px;
  position: relative;
}

.hiddenInput{
  position: absolute;
  max-height: 0px;
  max-width: 0px;
  border: 0;
  opacity: 0;
}

.comboCont{
  display: inline-block;
  position: relative;
  font-size: 22px;
  color: #7d7d7d;
  font-weight: lighter;
  width: 100%;
  height: 50px;
  &.readonly{
    .selectedCont{
      background: #e3e3e3;
      cursor: context-menu;
      label{
        cursor: context-menu;
      }
    }
  }
  .selectedCont{
    max-width: 100%;
    border: 1px solid #d4d4d4;
    padding: 7.5px 0px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    label{
      display: inline-block;
      margin-bottom: 0px;
      margin-right: 15px;
      padding-left: 15px;
      height:100%;
      width: 100%;
      cursor: pointer;
    }
    &.open{
      border-color: #707070;
    }
    &.invalid{
      background: #fcf2f3;
      border-color: #cd0005;
    }
  }

  .selectOptions{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    background: white;
    overflow: auto;    
    max-height: 230px;
    transition: all 1ms;
    z-index: 99999;
    border: 1px solid #d4d4d4;
    li{
      top: -1px;      
      width: 100%;
      padding: 8px 15px;
      z-index: 99999;
    }
    li:hover, li.hover{
      background: #f7f7f7;
      cursor: pointer;
    }
  }
}

.errorCont{
  display: inline-block;
  padding-top: 10px;
  color: #db0011;
  font-size: 19px;
  .crossCont{
      margin-top: 3px;
      width: 20px;
      height: 20px;
      border: 1px solid #db0011;
      border-radius: 10px;
      float: left;
      margin-right: 10px;
      font-size: 16px;
      span{
        position: relative;
        left: 5px;
        bottom: 4px;
      }
  }
}

.arrow{
  position: relative;
  width: 12px;
  height: 12px;
  border-top: 2px solid #848484;
  border-right: 2px solid #848484;
  right: 15px;
}

.arrow.down{
  transform: rotate(135deg);
  top: -25px;
}

.arrow.up{
  transform: rotate(-45deg);
  top: -20px;
}

.pull-right{
  float: right;
}

@media only screen and (max-width: 1700px){
  .smallLeft{
    left:10px;
  }

  .smallLabel{
    font-size:20px;
  }
}

@media only screen and (max-width: 1450px){
  .smallLeft{
    left:15px;
  }
}

@media only screen and (max-width: 980px){
  .smallLeft{
    left:20px;
  }
}

@media only screen and (max-width: 905px){
  .smallLabel{
    font-size: 18px;
  }
}

@media only screen and (max-width: 970px){
  .comboCont{
    font-size: 18px;
    &.disabled{
      color: #8c8c8c;  
    }
    .selectedCont{
      padding-top: 11px;
    }
    .selectOptions{
      font-size: 16px;
      max-height: 190px;
    }
  }
}

@media only screen and (max-width: 512px){
  .comboCont{
    font-size: 15px;
    .selectedCont{
      padding-top: 11px;
    }
    .selectOptions{
      font-size: 13px;
    }
  }
}